<ion-list>
  <ion-item *ngFor="let contacto of contactos$ | async">
    <ion-avatar slot="start">
      <ion-icon name="person-circle"></ion-icon>
    </ion-avatar>
    
    <ion-label>
      <h2>{{ contacto.nombre }} {{ contacto.apellido }}</h2>
      <p>{{ contacto.telefono }}</p>
    </ion-label>
    
    <ion-button 
      fill="clear" 
      color="primary" 
      (click)="iniciarLlamada(contacto)">
      <ion-icon name="videocam" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-item>
</ion-list>