<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="volverAtras()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Agregar Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="formulario" (ngSubmit)="agregarContacto()">
    <ion-item>
      <ion-label position="stacked">Teléfono del contacto</ion-label>
      <ion-input 
        formControlName="telefono" 
        type="tel" 
        placeholder="Ej: 3101234567">
      </ion-input>
    </ion-item>

    <ion-button 
      type="submit" 
      expand="block" 
      class="ion-margin-top"
      [disabled]="formulario.invalid">
      Buscar y Agregar
    </ion-button>
  </form>

  <ion-toast
    [isOpen]="showToast"
    [message]="toastMessage"
    [color]="toastColor"
    [duration]="2000">
  </ion-toast>
</ion-content>