<ion-header>
  <ion-toolbar>
    <ion-title>Mis Contactos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Lista de contactos -->
  <app-lista-contactos></app-lista-contactos>

  <!-- Botón flotante para agregar -->
  <ion-button routerLink="/agregar-contacto" expand="block">
    Agregar Contacto (Prueba)
  </ion-button>
</ion-content>